<!DOCTYPE html>
<html>
<head>
  <title>SpheroClient</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="logo">
		<a href="/" style="float:left; margin-left: 100px; padding-top:5px"><%= image_tag "sphero.png", height: "50" %></a>
	</div>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
		</li>
		<li>
			<a href= "http://www.gosphero.com/">Sphero</a>
		</li>
	</ul>
</header>
<div class="container">
	<div class ="row">
		<div  class="main-content">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
